$namespace: 'el';
$element-separator: '__';
$modifier-separator: '--';
$state-prefix: 'is-';
$dji-message-icon-close-light-path: '/examples//assets//icons/message/icon_close_light_outlined.svg';
$dji-message-icon-close-dark-path: '/examples//assets//icons/message/icon_close_outlined.svg';
$dji-message-icon-success-path: '/examples//assets//icons/message/icon_yes_solid.svg';
$dji-message-icon-error-path: '/examples//assets/icons/message/icon_error_solid.svg';
$dji-message-icon-warning-path: '/examples//assets//icons/message/icon_warning_solid.svg';
$dji-message-icon-info-path: '/examples//assets//icons/message/icon_info_solid.svg';
$dji-message-icon-loading-path: '/examples/assets/icons/message/icon_loading_outlined.svg';

